REGION=
TABLE_PREFIX=
EMAIL_TABLE_NAME=
USER_TABLE_NAME=
SENT_EMAIL_TABLE_NAME=
EMAIL_DOMAIN=
S3_BUCKET_INBOX=
S3_BUCKET_ARCHIVE=
PASSWORD_SALT=
PASSWORD_ITERATION_COUNT=
PASSWORD_KEY_LENGTH=
CORS_ORIGIN=